table {
  width: 80%;
  margin: auto;
  border-collapse: collapse;
}

th, td {
  padding: 10px;
  text-align: left;
  border: 1px solid #ddd;
}

img {
  max-width: 100%;
  height: auto;
  border: solid 1px #ddd;
}

.flag {
  border: none;
  width: 50px;
}
