/* Estilos generales para el cuerpo */
body {
  height: 100%;
  display: flex;
  align-items: center;
  padding: 40px 0;
  background: linear-gradient(350deg, #7c02ff, #070100, #4a0171);
  background-size: 180% 180%;
  animation: gradient-animation 18s ease infinite;
}
@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}


/* Estilos para el formulario de inicio de sesión */
.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}

.form-signin .form-control:focus {
  z-index: 2;
}

/* Estilos para botones y campos del formulario */
.bottom {
  margin-top: -1px;
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.middle {
  margin-top: -1px;
  border-radius: 0;
}

.top {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.logo { 
  max-width: 200px; /* Ajusta el tamaño del logo aquí */ 
  width: 100%; 
  height: auto; 
}